
body{
	background:#F5F5F5;
}

#map{
	width: 100%;
	height: 290px;
}

.anchorBL{
	display:none;
}
#map .BMap_noprint{
	display: block;
}
.mui-content{
	position: relative;
}
.mui-slider.mui-fullscreen{
	/*top: 6.5rem;*/
}
.my-leo{
	display: none;
	position: absolute;
	width: 34px;
	height: 34px;
	line-height: 42px;
	top: 240px;
	left: 5px;
	text-align: center;
	background: rgba(255,255,255,0.9);
	-webkit-box-shadow: 0px 1px 2px #999;
	box-shadow: 0px 1px 2px #999;
	border-radius: 0.06rem;
}
.my-leo span{
	font-size: 24px;
	color: #777;
}
.my-address{
	display: none;
	position: absolute;
	width: auto;
	max-width: 80%;
	height: 34px;
	line-height: 36px;
	top: 240px;
	left: 42px;
	font-size: 0.28rem;
	color: #3e3e3e;
	padding: 0 5px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	background: rgba(255,255,255,0.9);
	-webkit-box-shadow: 0px 1px 2px #999;
	box-shadow: 0px 1px 2px #999;
	border-radius: 0.06rem;
}
.status{
	display: none;
	width: 0.94rem;
	height: 1.4rem;
	/*border: 0.02rem solid #ccc;*/
	background: rgba(255,255,255,0.9);
	position: absolute;
	font-size: 0.18rem;
	top: 0.18rem;
	left: 0.12rem;
	padding-top: 0.1rem;
	-webkit-box-shadow: 0px 1px 2px #999;
	box-shadow: 0px 1px 2px #999;
	border-radius: 0.04rem;
}
.status span{
	display: block;
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	padding-left: 40%;
	text-align: left;
}
.status span:nth-child(1) {
	background: url(../img/space_green.png) no-repeat 0.1rem;
	background-size: 0.22rem 0.26rem;
}
.status span:nth-child(2) {
	background: url(../img/space_red.png) no-repeat 0.1rem;
	background-size: 0.22rem 0.26rem;
}
.status span:nth-child(3) {
	background: url(../img/space_gray.png) no-repeat 0.1rem;
	background-size: 0.22rem 0.26rem;
}

.sel-scope{
	display: none;
	position: absolute;
	width: 1.9rem;
	height: 0.6rem;
	line-height: 0.6rem;
	top: 0.18rem;
	right: 0.2rem;
	color: #333;
	background: rgba(255,255,255,0.9);
	font-size: 0.26rem;
	-webkit-box-shadow: 0px 1px 2px #999;
	box-shadow: 0px 1px 2px #999;
	border-radius: 0.06rem;
	padding-left: 0.34rem;
}
.sel-ul{
	position: absolute;
	display: none;
	top: 0.86rem;
	right: 0.2rem;
	width: 1.9rem;
	height: 2.5rem;
	list-style: none;
	background: rgba(255,255,255,0.9);
	font-size: 0.26rem;
	-webkit-box-shadow: 0px 1px 2px #999;
	box-shadow: 0px 1px 2px #999;
	border-radius: 0.06rem;
	padding-top: 0.05rem;
	padding-left: 0.34rem;
}
.sel-ul li {
	line-height: 0.6rem;
	color: #333;
}
.map-p{
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 0.26rem;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}
.mui-scroll-wrapper{
	/*top: 6.5rem;*/
	bottom: 0;
}
.mui-scroll{
	min-height: 4rem;
}
.map-info{
	width: 100%;
	overflow: hidden;
}
.map-local-top{
	width: 100%;
	height: 2.37rem;
	margin-bottom: 0.1rem;
	background: #fff;
}

.map-point-title{
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	text-indent: 0.3rem;
	font-size: 0.3rem;
	color: #3e3e3e;
}

.map-point-title-b{
	color: #333;
	font-size: 0.34rem;
	font-weight: 500;
}

.map-point-local{
	display: inline;
	width: 1.25rem;
	height: 0.5rem;
	line-height: 0.5rem;
	color: #888;
	margin-right: 0.2rem;
	margin-top: 0.18rem;
	background: url(../img/point-km.png) no-repeat 0 0.1rem;
	background-size: 0.22rem 0.26rem;
}

.carspace{
	width: 100%;
	height: 0.7rem;
	line-height: 0.7rem;
	text-indent: 0.1rem;
	margin-bottom: 0;
	/*border-bottom: solid 0.01rem #ccc;*/
}


.space-car{
	display: inline-block;
	width: 2rem;
	height: 0.34rem;
	line-height: 0.40rem;
	font-size: 0.28rem;
	margin-right: 0.3rem;
	color: #999;
	text-indent: 0.4rem;
}

p .space-car:nth-child(1) {
	background: url(../img/free-pattery.png) no-repeat 0;
	background-size: 0.34rem;
}

.mui-btn,button{
	-webkit-transition: none;
	transition: none;
	border: none;
	border-radius: 0;
}
.map-local-top .mui-table-view-cell{
	/*left: 0 !important;*/
}
.map-local-top .mui-table-view-cell:before{
	position: absolute;
    right: 0;
    top: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
.map-local-top .mui-table-view-cell:after{
	left: 0;
}
.mui-table-view-cell:last-child:after, .mui-table-view-cell:last-child:before{
	height: 1px;
}
.map-bot{
	display: inline-block;
	width: 50%;
	height: 0.69rem;
	line-height: 0.7rem;
	font-size: 0.28rem !important;
	text-align: center;
	float: left;
	color: #60646f;
	/*border-bottom: 1px solid #ccc;*/
	padding: 0;
	position: relative;
}
.gohere{
	border-right: 1px solid  #ccc;
}

.mui-fullscreen {
	top: 44px;
	height: auto;
}

.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1005;
}
.mui-bar~.mui-pull-top-tips {
	top: 24px;
	z-index: 98;
}
.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;*/
	
	margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}
.mui-pull-bottom-tips {
	text-align: center;
	background-color: #f5f5f5;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 40px;
}
.mui-slider-indicator.mui-segmented-control {
	background-color: #efeff4;
}



/* ================ no-network =================== */

.no-network{
	widows: 100%;
	height: 80%;
	display: none;
}
.no-network img{
	position: absolute;
	top: 2rem;
	left: 50%;
	width: 2rem !important;
	margin-left: -1rem;
}
.no-network p{
	float: left;
	width: 100%;
	margin-top: 4rem;
	text-align: center;
	font-size: 0.34rem;
	color: #666;
}
.again-net{
	position: absolute;
	top: 4.6rem;
	width: 4rem;
	text-align: center;
	height: 0.6rem;
	line-height: 0.6rem;
	left: 50%;
	margin-left: -2rem;
	font-size: 0.34rem;
	color: #666;
	/*color: lightseagreen;*/
	/*background: #fff;*/
}











