body{
	background: #F5F5F5;
}
.mui-btn, button{
	-webkit-transition: none;
	transition: none;
	
}	

.mui-bar{
	background-color: #fff;
	position: relative !important;
}

.mui-bar-nav a{
	color: #464646;
}
.head{
	width: 100%;
	height: 2.9rem;
	background-color: #fff;
}
#user-pic{
	width: 1.5rem;
	height: 1.5rem;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin-left: 3rem;
	margin-top: 0.8rem;
}
.mui-input-group .mui-input-row{
	height: 1.2rem;
}
.mui-input-row label{
	width: 25%;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: 0.3rem;
	padding: 0;
	padding-left: 0.4rem;
}

.mui-input-row label~input{
	height: 100%;
	width: 60%;
	float: left;
	font-size: 0.32rem;
	padding:0;
}
.mui-input-row .mui-input-clear~.mui-icon-clear, .mui-input-row .mui-input-password~.mui-icon-eye, .mui-input-row .mui-input-speech~.mui-icon-speech{
	top: 0.4rem;
}
.mui-input-row .sel-span{
	font-size: 20px;
	width: 15% !important;
	height: 1.2rem !important;
	line-height: 1.2rem ;
	display: block;
	float: left;
    z-index: 1;
    top: 10px;
    right: 0;
    width: 38px;
    height: 38px;
    text-align: center;
    color: #999;
}

.hide-id{
	position: absolute;
	list-style: none;
	display: none;
	width: 100%;
	height: 3.8rem;
	overflow-y: auto;
	top: 1.2rem;
	z-index: 999;
	padding: 0;
	margin: 0;
	margin-top: -0.02rem;
	opacity: 0;
	border-top: 0.02rem solid #ececec;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.hide-id li{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	padding-left: 0.3rem;
	background: #fff;
	border-bottom: 0.02rem solid #ECECEC;
}

.h-user-pic{
	float: left;
	width: 1rem;
	height: 1rem;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-top: 0.1rem;
}
.h-user-p{
	float: left;
	width: 65%;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: 0.3rem;
	color: #333;
	text-indent: 0.6rem;
	text-align: left;
	margin-bottom: 0;
}
li .icon-iconfontshanchu{
	display: block;
	width: 15%;
	height: 1.2rem;
	line-height: 1.2rem;
	float: right;
	color: #888;
	font-size: 0.4rem;
}
.mui-input-row .mui-input-password~.mui-icon-eye{
	right: 0.2rem;
}

#login{
	width: 90%;
	height: 0.9rem;
	margin-left: 5%;
	font-size: 0.32rem;
	color: #fff;
	margin-top: 0.5rem;
	border:none;
}

.forgot-psw{
	display: block;
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	font-size: 0.3rem;
	color:#38f;
	margin-top: 0.35rem;
}

.mui-btn-blue{
	width: 2.35rem;
	height: 0.8rem;
	font-size: 0.32rem;
	margin-left: 34%;
	margin-top: 2.8rem;
}





















